.page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: #111;
  font-size: 24px;
  margin-top: 10px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  border: #444 1px solid;
  padding: 5px 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.link:hover {
  color: #eee;
  background-color: #333;
}
